/* input#my-file-selector {
    display:none;
}

*/

.main {
    color: white;
    background-color: black;
    position: relative;
    height: 70vh

}

header {
    margin: 15px 0;
}

.headerP {
    font-size: 16px;
    opacity: 1;
}

.headerP span {
    font-size: 12px;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    opacity: 0.5;
}

header a:hover {
    opacity: 1;
    color: white;
}

.mainText {
    color: cadetblue;
    margin: 50px 0;
    letter-spacing: 10px;
}

.mainText span{
    font-size: 30px;
}

.mainText button {
    background: transparent;
    text-decoration: none;
    border: 1px solid cadetblue;
    padding: 10px 10px;
    text-transform: uppercase;
}

.mainText button:hover {
    border: 4px solid cadetblue;
}

#animWord {
    position: absolute;
    font-size: 150px;
    top: 5%;
    opacity: 0;
    color: red;
    text-transform: uppercase;
    animation-name: word;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

#animImage {
    position: absolute;
    font-size: 150px;
    top: 50%;
    opacity: 0;
    color: red;
    text-transform: uppercase;
    animation-name: image;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}



@keyframes word {
    0%   {right: -50%; opacity: 0;}
    25%  {opacity: 0.3}
    50%  {opacity: 0.4}
    100% {right: 80%; opacity: 0}
}

@keyframes image {
    0%   {left: -30%; opacity: 0;}
    25%  {opacity: 0.3}
    50%  {opacity: 0.4}
    100% {left: 80%; opacity: 0}
}

.noise {
  animation: transform 3s 10;
}



@keyframes transform {
  0% {
    transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
  }
  1% {
    transform: none;
  }
  2% {
    transform: none;
}
}