/* input#my-file-selector {
    display:none;
}

*/

html {
    overflow-x: hidden;
}

.main {
    color: white;
    background-color: black;
    position: relative;
    height: 80vh

}

header {
    margin: 15px 0;
}

.headerP {
    font-size: 16px;
    opacity: 1;
    float: left;
    margin-right: 5px;
}

.headerP span {
    font-size: 10px;
    margin-left: 5px;
    text-transform: uppercase; 
}

.fb-share-button {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    opacity: 0.7;
}

header a:hover {
    opacity: 1;
    color: white;
}

.about {
    text-align: right;
    cursor: pointer;
}

.mainText {
    color: cadetblue;
    margin: 50px 0;
    letter-spacing: 10px;
}

.mainText span{
    font-size: 30px;
}

button {
    background: transparent;
    text-decoration: none;
    border: 1px solid grey;
    padding: 10px 10px;
    text-transform: uppercase;
}

label.btn {
    background: transparent;
    text-decoration: none;
    border: 1px solid grey;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 0px;
    transition: background .25s ease-in-out, color .25s ease-in-out;
}

label.btn:hover {
    background: black;
    color: white;
}


.mainText button {
    border: 1px solid cadetblue;
}

.mainText button:hover {
    border: 4px solid cadetblue;
}

#animWord {
    position: absolute;
    font-size: 150px;
    top: 5%;
    opacity: 0;
    color: red;
    text-transform: uppercase;
    animation-name: word;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

#animImage {
    position: absolute;
    font-size: 150px;
    top: 50%;
    opacity: 0;
    color: red;
    text-transform: uppercase;
    animation-name: image;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}



@keyframes word {
    0%   {right: -30%; opacity: 0;}
    25%  {opacity: 0.3}
    50%  {opacity: 0.4}
    100% {right: 80%; opacity: 0}
}

@keyframes image {
    0%   {left: -30%; opacity: 0;}
    25%  {opacity: 0.3}
    50%  {opacity: 0.4}
    100% {left: 80%; opacity: 0}
}

.noise {
  animation: transform 3s 10;
}



@keyframes transform {
  0% {
    transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
  }
  1% {
    transform: none;
  }
  2% {
    transform: none;
}
}

ul {
    list-style: none;
    padding-left: 20px;
}

ol {
    margin-top: 20px; 
    padding-left: 15px;
}

.imageExpl {
    font-size: 12px;
    position: relative;
}

.Expl h1 {
    font-size: 24px;
    letter-spacing: 3px;

}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.convert {
    text-align: right;
}

#instruction {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;

}

.recognize {
    margin: 40px 0;
    display: none;
}

.visible {
    display: block;
}

footer {
    color: white;
    background: black;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px 0;
    margin-top: 40px;
}

footer p {
    padding-top: 5px;
}

footer p span {
    font-size: 10px;
}

#showText {
    background: transparent;
    border: 1px solid grey;
    padding: 10px 10px;
}